{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'marvelapp/style.css' %}">
        <title>Marver API Search Application</title>
    </head>
    <body>
        <div class="container text-center">
            <h1 class="text-center"><a href="">MARVEL API STORY RANDOMIZER</a></h1>
            <p class="mt-5 mb-5">
                This application provide story randomizer for superhero (or villain perhaps)!<br>
                Just enter character name below and click the button!
            </p>
            <hr class="border-dark">
            {% block form %}
            {% endblock %}
            {% block result %}
            {% endblock %}
            {% block error %}
            {% endblock %}
        </div>
    </body>
</html>